Golf Buddies.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Golf Buddies.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Golf Buddies.xcodeproj/project.xcworkspace/xcuserdata/karlcridland.xcuserdatad/WorkspaceSettings.xcsettings
