<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626439414709-eoe24b6ekvmgfvmplkm6r72db8n5ujme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626439414709-eoe24b6ekvmgfvmplkm6r72db8n5ujme</string>
	<key>API_KEY</key>
	<string>AIzaSyBvMMyOH35VTDHNpAbk-XL8OyD-oHqdLxo</string>
	<key>GCM_SENDER_ID</key>
	<string>626439414709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karlcridland.Golf-Buddies</string>
	<key>PROJECT_ID</key>
	<string>golf-buddies-suffolk</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-buddies-suffolk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626439414709:ios:1dffd0ce2f267f57986ffc</string>
	<key>DATABASE_URL</key>
	<string>https://golf-buddies-suffolk-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>